body {
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #F8B259;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.judul{
    font-size: large;
    color: #C75D2C !important;
    text-decoration: none !important;
}

.nav{
    color: #C75D2C;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
}

.header .nav a {
    color: #C75D2C !important;
    text-decoration: none !important;
    font-weight: 500;
    margin-left: 15px;
    margin-right: 15px;
}

.main{
    background-color: #F3E9DC;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.intro h2{
    color: #C75D2C;;
}

.submit{
    background-color: sandybrown;
    color: white;
    border: none;
    border-radius: 8px;
    width: 120px;
    height: 22px;
    margin-top: 10px;
    margin-left: 2px;
}

.reset{
    background-color: sandybrown;
    color: white;
    border: none;
    border-radius: 8px;
    width: 120px;
    height: 22px;
    margin-top: 10px;
    margin-left: 2px;
}

.footer{
    background-color: #F8B259;
    text-align: center;
    padding: 15px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer p{
    font-size: large;
    color: #C75D2C;
}

.footer .nav a {
    color: #C75D2C !important;
    text-decoration: none !important;
    font-weight: 500;
    margin-left: 15px;
    margin-right: 15px;
}